<header class="simple-header for-sticky white">
  <div class="top-bar">
    <div class="container">
      <ul class="contact-item">
        <li><i class="fa fa-envelope-o"></i>{{site.email}}</li>
        <li><i class="fa fa-mobile"></i>{{site.tel}}</li>
      </ul>
      <div class="choose-language">
        <a href="#" title="">FR</a>
        <a href="#" title="">EN</a>
      </div>
    </div>
  </div><!-- Top bar -->
  <div class="menu">
    <div class="container">
      <div class="logo">
        <a href="#" title="">
          <i class="fa fa-get-pocket"></i>
          <span>{{site.title}}</span>
          <strong>{{site.slogan}}</strong>
        </a>
      </div><!-- LOGO -->
      <span class="menu-toggle"><i class="fa fa-bars"></i></span>
      <nav>
        <ul>
          <li class="menu-item-has-children">
            <a href="#" title="">HOME</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#" title="">WHAT WE DO</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#" title="">OUR APPROCH</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#" title="">TEAM</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#" title="">OUR CLIENTS</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#" title="">BLOG</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#" title="">CONTACT US</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
