<!-- Script -->
<script type="text/javascript" src="js/modernizr.js"></script><!-- Modernizer -->
<script type="text/javascript" src="js/jquery-2.1.1.js"></script><!-- Jquery -->
<script type="text/javascript" src="js/script.js"></script><!-- Script -->
<script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Owl Carousal -->
<script type="text/javascript" src="js/html5lightbox.js"></script><!-- HTML -->
<script type="text/javascript" src="js/scrolltopcontrol.js"></script><!-- ScrolltoTop -->
<script type="text/javascript" src="js/scrolly.js"></script><!-- Parallax -->
